<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.thetestingacademy.listener.CustomListener"></listener>
    </listeners>
    <parameter name="browser" value="chrome"></parameter>
    <parameter name="browsers" value="chrome,firefox"></parameter>
    <parameter name="browsergroup1" value="firefox"></parameter>
    <parameter name="browsergroup2" value="ie"></parameter>
  <!--  <groups>
        <run>
            <include name="Smoke"/>
            <include name="Sanity"/>
        </run>
    </groups>-->
    <suite-files>
        <suite-file path="suitea.xml"></suite-file>
        <suite-file path="suiteb.xml"></suite-file>
        <suite-file path="suitec.xml"></suite-file>
    </suite-files>
</suite>